[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=Speakers
Comment=Speakers
Exec=/usr/local/bin/maxime.py --route speakers
StartupNotify=false
Terminal=false
Hidden=false
Icon=audio-speakers
